@import "variable.scss";
@import "mixins.scss";

@font-face {
  font-family: "Merriweather";
  src: url("../public/font/Merriweather/Merriweather-Regular1.woff2");
}
@font-face {
  font-family: "Merriweather-italic";
  src: url("../public/font/Merriweather/Merriweather-italic.woff2");
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/font/Montserrat/Montserrat-Regular.woff2");
}
.font-merri{
  font-family: "Merriweather";
}
.font-mont{
  font-family: "Montserrat";
}
.font-gold{
  color: $secondarycolor!important;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat"!important;;
}
.MuiButtonBase-root{
  font-family: "Montserrat"!important;;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.loadingalert {
  position: fixed;
  width: 310px;
  bottom: 20px;
  left: 30px;
  background-color: $loadingBGColor;
}
.fp-warning,
.fp-watermark {
  display: none;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
  background: #c3b58c!important;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{
  background-color: $FavRedColor!important;
}